#ball {
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background-image: url(../images/ball.png);
    background-size: 100%;
    position: absolute;
    left: 50%;
    top: 100%;
    transform: translate(-50%, -100%);
    transition: all 2s;
}

#direction-bar {
    position: absolute;
    top: 20px;
    left: 20px;
    height: 20px;
    width: 300px;
    background-color: transparent;
    border: 1px solid brown;
}

#direction-bar-pointer {
    height: 20px;
    width: 5px;
    background-color: green;
    position: absolute;
    left: 50px;
}

#strength-bar {
    position: absolute;
    top: 60px;
    left: 20px;
    height: 300px;
    width: 20px;
    background-color: transparent;
    border: 1px solid brown;
}

#strength-bar-pointer {
    height: 5px;
    width: 20px;
    background-color: green;
    position: absolute;
    top: 0px;
}