.hero-container {
    display: block;
}

.background {
    background: url('./../images/streetball1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 400px;
}   

.welcome-container {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 25vh;
}

.title h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 7vh;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    display: inline;
    background-color: #ffffff;  
}

.slogan h2 {
    font-family:'Comfortaa', cursive;
    font-size: 6vh;
    font-weight: 300;
    color: #ffffff;
    margin: 5px;
    text-align: right;
}

.apply-button {
    display: flex;
    justify-content: center;
    margin-top: 10vh;  
}

.round-button a {
    color: #ffffff;
    font-size: 30px;
    font-family:'Comfortaa', cursive;
 }

.round-button  {
    color: #ffffff;
    background-color: #c3c3c357;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s all ease-in-out;
    height: 10vw;
    width: 10vw;
    border: 3px solid #ffffff;
}
.round-button:hover{
    background-color: #c6cb7a ;
    opacity: 0.9;
    background-size: cover;
    color: white;
    transition: 0.5s all ease-in-out;
    box-sizing: border-box;
}

@media screen and (max-width: 1700px){

    .welcome-container {
        padding-top: 10vw;
    }
    
    .title h1 {
        font-size: 4vw;  
    }
    
    .slogan h2 {
        font-size: 4vw;   
    }
    
    .apply-button {
        margin-top: 8vw;  
    }
    
    .round-button a {
        color: #ffffff;
        font-size: 20px;
        font-family:'Comfortaa', cursive;
    }
}

@media screen and (max-width: 1050px){

    .welcome-container {
        padding-top: 5vw;
    }
    
    .title h1 {
        font-size: 5vw;  
    }
    
    .slogan h2 {
        font-size: 4vw;   
    }
    
    .apply-button {
        margin-top: 5vw;  
    }
    
    .round-button a {
        font-size: 18px;
    }   

    .round-button {
        height: 13vw;
        width: 13vw;
        border: 2px solid #ffffff;
    }
}


@media screen and (max-width: 770px){
    
    .welcome-container {
        padding-top: 10vw;
    }

    .round-button a {
        font-size: 20px;
     }
    
    .round-button {
        height: 15vw;
        width: 15vw;
        border: 2px solid #ffffff;
    }
    
    .apply-button {
    margin-top: 5vw;  
    }
}
@media screen and (max-width: 450px){

    .welcome-container {
        padding-top: 12vw;
    }
    
    .title h1 {
        font-size: 5vh;  
    }
    
    .slogan h2 {
        font-size: 10vw;   
    }
    
    .apply-button {
        margin-top: 30vh;  
    }
    
    .round-button a {
        font-size: 20px;
     }

    .round-button {
        height: 15vh;
        width: 15vh;
        border: 1.5px solid #ffffff;
    }
}
