.hero-container {
    display: block;
}

.background {
    background: url('./../images/streetball1.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    height: 85vh;
    width: 100vw;    
}   

.welcome-container {
    display: inline-block;
    flex-direction: column;
    justify-content: center;
    padding-left: 10vw;
    padding-top: 25vh;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 7vh;
    font-weight: 200;
    font-style: normal;
    text-transform: uppercase;
    display: inline;
    background-color: #ffffff;  
}

h2 {
    font-family:'Comfortaa', cursive;
    font-size: 6vh;
    font-weight: 300;
    color: #ffffff;
}

.apply-button {
    display: flex;
    justify-content: center;
    margin-top: 10vh;  
}

.slogan h2 {
    margin: 5px;
    text-align: right;
}

.round-button {
    color: #ffffff;
    background-color: Transparent;
    border-radius: 50%;
    font-family:'Comfortaa', cursive;
    transition: 0.5s all ease-in-out;
    height: 160px;
    width: 160px;
    font-size: 20px;
    border: 3px solid #ffffff;
}
.round-button:hover{
    background-color: #c6cb7a ;
    opacity: 0.9;
    background-size: cover;
    color: black;
    transition: 0.5s all ease-in-out;
    box-sizing: border-box;
}

@media screen and (max-width: 1700px){

    .welcome-container {
        padding-top: 15vw;
    }
    
    h1 {
        font-size: 4vw;  
    }
    
    h2 {
        font-size: 3.5vw;   
    }
    
    .apply-button {
        margin-top: 8vw;  
    }
    
    .round-button {
        height: 160px;
        width: 160px;
        font-size: 24px;
        border: 3px solid #ffffff;
    }
}

@media screen and (max-width: 1050px){

    .welcome-container {
        padding-top: 12vw;
    }
    
    h1 {
        font-size: 4vw;  
    }
    
    h2 {
        font-size: 3.5vw;   
    }
    
    .apply-button {
        margin-top: 5vw;  
    }
    
    .round-button {
        height: 120px;
        width: 120px;
        font-size: 18px;
        border: 2px solid #ffffff;
    }
}
@media screen and (max-width: 770px){
    .round-button {
        height: 80px;
        width: 80px;
        font-size: 10px;
        border: 2px solid #ffffff;
    }
}

@media screen and (max-width: 450px){

    .welcome-container {
        padding-top: 12vw;
    }
    
    h1 {
        font-size: 4vw;  
    }
    
    h2 {
        font-size: 3.5vw;   
    }
    
    .apply-button {
        margin-top: 5vw;  
    }
    
    .round-button {
        height: 50px;
        width: 50px;
        font-size: 6px;
        border: 1.5px solid #ffffff;
    }
}

