@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Comfortaa:300,400,700');

*{
    font-family:'Roboto', sans-serif;
    color: #313131;
}

section {
    padding-top: 20px;
}
 
/* ===============COLORS============== */
   
 /* #c6cb7a     color used as accent. hoovers thick lines etc. Good for backgorund in FOOTER */

 /* #fafafa     color used as backgorund. for whole containers and smaller objects */

 /* #fff        main color.*/

/* #313131       main font color. color may be used also as accent.*/