.navigation {
    display: flex;
    width: 100%;
    justify-content: center;
    position: fixed;
}

.navigation__container {
    /* background: #FFFFFF; */
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: fixed;
    display: flex;
    height: 65px;
}

.navigation__logo {
    height: 65px;
    align-items: center;
}

.logo {
    width: 65px;
    margin-left: 65px
}

.navigation__menu {
    display: flex;
    list-style: none;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    
    /* border: 2px solid blue; */
}

.navigation__menu__item {
    display: flex;
    /* min-width: 80px; */
    max-width: 130px;
    height: 65px;
    padding-left: 12px;
    padding-right: 12px;
    align-items: center;
    justify-content: center;
    /* background: red; */
    /* border: 2px solid black; */
}

.navigation__menu__item a {
    font-size: 20px;
    text-decoration: none;
    color: #313131;
}


.navigation__menu__item:hover {
    background:rgba(54,47,54,1);
    transition: background 1.5s;
}

.navigation__menu__item:hover a{
    color: white;
    transition: color 1.5s;
}

.newsletter {
    margin-right: 150px;
}



@media (max-width: 767px) {
    

    /* .menu__item__newsletter {
        display: none;
    } */

    .navigation__container {
        height: 35px;
    }

    .logo {
        padding-left: 0;
        margin-left: 0;
        height: 35px;
        width: 35px;
    }

    .navigation__menu {
        display: flex;
        list-style: none;
        height: 35px;
        align-items: center;
        justify-content: space-between;
    }

    .navigation__menu__item {
        display: flex;
        /* min-width: 80px; */
        max-width: 130px;
        height: 35px;
        padding-left: 5px;
        padding-right: 5px;
        align-items: center;
        justify-content: center;
        /* background: red; */
        /* border: 2px solid black; */
    }

    .navigation__menu__item a {
        font-size: 12px;
    }
}

@media (max-width: 280px) {
    .menu__item__introduction {
        display:none;
    }
}