
#navigation {
    display: flex;
    height: 30px;
    border: 0.5px solid black;
    align-items: center;
    justify-content: space-between;
}

.navigation__logo {
    height: 30px;
    align-items: center;
}

.logo {
    width: 30px;
}

.navigation__menu {
    display: flex;
    list-style: none;
    height: 30px;
    align-items: center;
    justify-content: space-between;
}

.navigation__menu__item {
    display: flex;
    min-width: 70px;
    max-width: 100px;
    height: 30px;
    align-items: center;
    justify-content: center;
}



