#team {
    box-sizing: border-box;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;

}

.team {
    margin-top: 40px;
    display:flex;
    flex-wrap: wrap;
    align-content: space-evenly;
    justify-content: space-evenly;
    width: 100vw;    
    min-width: 700px;    
}

.team__mate {
    display: flex;
    align-items: center;
    height: 47vh;   
    flex-basis: 50%;
    background-color: white;
    box-shadow: 0 0 7px #55555583;
    min-width: 400px;
    min-height: 300px;
}

.team__mate__photo {
    width: 50%;
    height: 100%;
    background-color: grey;

}

.team__mate__desc {
    display: flex;
    flex-wrap: wrap;
    background-color: antiquewhite;
    height: 100%;
    width: 50%;
    text-align: center;
}

.team__mate__desc__header {
    width: 100%;
    padding: 3%;
    background-color: aqua;    
    max-height: 20%;
    font-size: 2em;
}

.team__mate__desc__info {
    width: 100%;
    padding: 0% 3% 0% 3%;
}

.team__mate__social {
    width: 100%;
    background-color: chocolate;
    display: flex;
    padding: 3px;
}

.team__mate__social__link {
    flex-grow: 1;
    height: inherit;
    background-color: blue;
    
}